<div class="container-fluid container-fluid-custom">
    <div class="row mb-4">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active text-light">Title</a></li>
          </ol>
        </nav>
  
        <div class="col d-flex justify-content-between align-items-center">
          <h1 class="h3">Add Note</h1>
  
          <!-- <button type="button" class="btn btn-danger me-2" data-bs-toggle="modal" id="deleteButton" data-bs-target="#deleteModal">Delete</button> -->
        </div>
      </div>
    </div>
  
    <form action="/dashboard/add" method="POST" class="position-relative">
      <div class="form-group mb-4 position-absolute">
          <input type="text" class="form-control fw-bold border-0 fs-4" id="title" name="title" placeholder="Title">
      </div>
  
      <div class="form-group mb-4">
          <textarea class="form-control pt-5 fs-4" id="body" name="body" placeholder="Take a note..." rows="12"></textarea>
      </div>
  
      <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-lg">+ Add Note</button>
      </div>
    </form>
  
  
  