<div class="container-fluid">
  <footer class="py-5 my-5">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="/" class="nav-link px-2 text-body-white">Home</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link px-2 text-body-white">About</a>
      </li>
    </ul>
    <p class="text-center text-body-primary">© 2024 Company, Inc</p>
  </footer>
</div>
