<div class="container-fluid">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-2 mb-lg-2.8 text-white fw-bold fs-2 text-decoration-none"
    >
    </a>

    <ul
      class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    >
      <li><a href="/" class="nav-link px-2 text-body-white">Home</a></li>
      <li><a href="/about" class="nav-link px-2 text-body-white">About</a></li>
    </ul>

    <div class="text-end pt-2">
      <a href="/auth/google" type="button" class="btn btn-outline-light me-2"
        >Login</a
      >
      <a href="/auth/google" type="button" class="btn btn-warning">Sign-up</a>
    </div>
  </div>
</div>
